@import url(https://fonts.googleapis.com/css?family=DynaPuff);
@import url(https://fonts.cdnfonts.com/css/manrope-3);
@import url(https://fonts.cdnfonts.com/css/manrope-3);
@import url(https://fonts.googleapis.com/css?family=DynaPuff);
@import url(https://fonts.cdnfonts.com/css/manrope-3);
@import url(https://fonts.googleapis.com/css?family=DynaPuff);
@import url(https://fonts.cdnfonts.com/css/manrope-3);
@import url(https://fonts.googleapis.com/css?family=DynaPuff);
@import url(https://fonts.googleapis.com/css?family=DynaPuff);

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, span {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    box-sizing: border-box
}

a {
    text-decoration: none
}

.nav__list a, h1, h2 {
    font-family: "DynaPuff", sans-serif;
    font-weight: 700
}

.header {
    background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
    width: 100%;
    padding: 27px 16px 0 17px;
    position: fixed;
    top: 0;
    z-index: 1000
}

@media (min-width: 768px) {
    .header {
        padding: 38px 31px 0 34px
    }
}

@media (min-width: 1200px) {
    .header {
        padding-top: 38px
    }
}

.header__img {
    padding-bottom: 20px
}

@media (min-width: 1200px) {
    .header__img {
        display: none
    }
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (min-width: 1200px) {
    .header__wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .container {
        max-width: 1059px;
        margin: 0 auto
    }
}

.nav {
    display: none
}

@media (min-width: 1200px) {
    .nav {
        display: block;
        width: fit-content
    }
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 20px;
    width: fit-content
}

.nav__list li {
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 10px 16px
}

.nav__list a, body {
    font-family: "Manrope", sans-serif
}

.nav__list a {
    color: #fff;
    font-size: 16px
}

.nav__list-img {
    width: 16px;
    height: 16px;
    margin-right: 12px
}

.footer {
    height: 342px;
    background-color: #202020;
    position: relative;
    padding-top: 53px
}

@media screen and (min-width: 768px) {
    .footer {
        height: 408px
    }
}

.footer__img {
    width: 100%;
    max-width: 336px
}

@media (min-width: 768px) {
    .footer__img {
        display: none
    }
}

@media (min-width: 1200px) {
    .footer__img {
        max-width: 514px
    }
}

.footer__project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    border-radius: 139px;
    border: 1px solid #f2f2f2;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 342px;
    height: 72px;
    position: relative;
    top: 53px;
    margin: 0 auto;
    text-decoration: none
}

@media screen and (min-width: 768px) {
    .footer__project {
        width: 714px;
        height: 150px
    }
}

.footer__title {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .footer__title {
        font-size: 48px
    }
}

.footer__text {
    color: #fff;
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative
}

.footer__text::before {
    content: "";
    background: url("./img/Group 2.png");
    width: 32px;
    height: 16px;
    position: absolute;
    background-position: center;
    top: 20%;
    right: 0;
    margin-right: 55px;
    background-size: cover
}

@media screen and (min-width: 768px) {
    .footer__text {
        font-size: 24px
    }

    .footer__text::before {
        margin-top: 3px;
        margin-right: 270px
    }
}

.footer__network {
    padding-top: 113px;
    padding-bottom: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 34px
}

.footer__copyright {
    color: #fff;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        font-size: 16px
    }
}

.title-one {
    background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
    padding: 329px 28px 149px 21px
}

.title-one__title {
    font-size: 48px;
    color: #fff;
    max-width: 326px
}

@media (min-width: 768px) {
    .title-one__title {
        max-width: 521px;
        font-size: 80px
    }
}

@media (min-width: 1200px) {
    .title-one__title {
        max-width: 846px
    }

    .title-one__container {
        max-width: 1059px;
        margin: 0 auto
    }
}

.meet {
    width: 100%;
    background: #202020;
    position: relative;
    padding: 72px 16px 76px;
    overflow: hidden
}

@media (min-width: 768px) {
    .meet {
        padding: 101px 195px 102px 33px
    }
}

@media (min-width: 1200px) {
    .meet {
        padding: 101px 0 102px
    }
}

.meet__text {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700
}

.meet__title {
    color: #faeb49;
    font-size: 36px;
    margin-bottom: 40px
}

@media (min-width: 768px) {
    .meet__title {
        font-size: 48px
    }
}

.meet__paragraph {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 342px
}

@media (min-width: 768px) {
    .meet__paragraph {
        font-size: 16px;
        max-width: 524px
    }
}

.meet__number {
    font-family: "DynaPuff", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px
}

@media (min-width: 768px) {
    .meet__number {
        font-size: 48px
    }
}

.meet__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (min-width: 768px) {
    .meet__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 96px;
        max-width: 540px;
        margin-left: 20px
    }
}

@media (min-width: 1200px) {
    .meet__container {
        position: relative;
        max-width: 1059px;
        margin: 0 auto
    }
}

.meet_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin-right: 20px
}

@media (max-width: 768px) {
    .meet_img {
        max-width: 540px
    }
}

.meet_img:last-child {
    margin-right: 0
}

.bank-project {
    width: 100%;
    background: #3c3c3c;
    padding: 52px 21px 85px 16px
}

@media (min-width: 768px) {
    .bank-project {
        padding: 52px 32px 122px 33px
    }
}

.bank-project__card {
    border-radius: 24px;
    background: #fffef2;
    padding: 16px;
    margin-bottom: 63px
}

@media (min-width: 768px) {
    .bank-project__card {
        padding: 24px 20px;
        margin-bottom: 102px
    }
}

@media (min-width: 1200px) {
    .bank-project__card {
        margin-bottom: 63px
    }
}

.bank-project__img {
    width: 100%;
    height: 278px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 13px;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .bank-project__img {
        height: 498px
    }
}

.bank-project__title {
    color: #565656;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px
}

@media (min-width: 768px) {
    .bank-project__title {
        font-size: 40px
    }
}

.bank-project__text {
    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 700
}

@media (min-width: 768px) {
    .bank-project__text {
        font-size: 16px
    }
}

.bank-project__save-planet {
    border-radius: 24px;
    background: #fffef2;
    padding: 12px;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .bank-project__save-planet {
        border-radius: 24px;
        padding: 20px;
        margin-bottom: unset
    }
}

.bank-project__title-save-planet {
    color: #565656;
    font-size: 20px;
    margin-bottom: 22px;
    max-width: 319px
}

.bank-project__text-save-planet {
    font-weight: 500;
    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 15px
}

@media (min-width: 768px) {
    .bank-project__text-save-planet {
        font-size: 16px
    }
}

.bank-project__img-save-planet {
    width: 100%;
    height: 363px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 13px;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .bank-project__img-save-planet {
        height: 448px
    }
}

@media (min-width: 1200px) {
    .bank-project__img-save-planet {
        height: 338px
    }
}

.bank-project__banking-mobile {
    display: none
}

@media (min-width: 768px) {
    .bank-project__banking-mobile {
        display: block
    }

    .bank-project__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px
    }
}

.bank-project__card-color {
    display: none
}

@media (min-width: 1200px) {
    .bank-project__card-color {
        display: block
    }

    .bank-project__container {
        max-width: 1050px;
        margin: 0 auto
    }
}

.graphics {
    background: #202020;
    padding: 58px 16px 93px
}

@media (min-width: 768px) {
    .graphics {
        padding: 82px 32px 129px
    }
}

@media (min-width: 1200px) {
    .graphics .graphics__container {
        max-width: 1050px;
        margin: 0 auto
    }
}

.graphics .graphics__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px
}

.graphics .graphics__img-style {
    width: 100%;
    border-radius: 40px;
    margin-bottom: 20px;
    position: relative
}

@media (min-width: 768px) {
    .graphics .graphics__img-style {
        min-width: 336px;
        margin-bottom: 26px;
        height: 414px
    }
}

@media (min-width: 1200px) {
    .graphics .graphics__img-style {
        min-width: 514px
    }
}



.graphics .graphics__title {
    color: #fff;
    font-size: 32px;
    margin-bottom: 28px
}

@media (min-width: 768px) {
    .graphics .graphics__title {
        font-size: 80px;
        margin-bottom: 38px
    }
}

.graphics .graphics__img-elements, .graphics .graphics__img-line {
    width: 100%;
    min-width: 334px
}

@media (min-width: 768px) {
    .graphics .graphics__img-elements, .graphics .graphics__img-line {
        max-width: 336px
    }
}

@media (min-width: 1200px) {
    .graphics .graphics__img-elements, .graphics .graphics__img-line {
        max-width: 514px
    }
}

.good {
    background-image: url("./img/Rectangle 8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #d3d3d3;
    height: 800px
}

@media (min-width: 768px) {
    .good {
        background-image: url("./img/Rectangle 8.png");
        min-height: 400px
    }
}

@media (min-width: 1200px) {
    .good .good__container {
        max-width: 1050px;
        margin: 0 auto
    }
}

.good__title {
    color: #fff;
    text-align: center;
    padding: 180px 16px 173px;
    font-family: "DynaPuff", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

@media (min-width: 768px) {
    .good__title {
        padding: 274px 31px 294px 32px;
        font-size: 48px
    }
}